/* Main */

width: 1280px;
height: 3227px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Our Programs Section */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 96px 32px;

position: absolute;
height: 824px;
left: 0px;
right: 0px;
top: 989.5px;

background: #F0F3FF;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 64px;

width: 1216px;
max-width: 1280px;
height: 632px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 439.97px;

width: 1216px;
height: 112px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 577.75px;
max-width: 672px;
height: 112px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 577.75px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 517.22px;
height: 40px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 40px;
/* identique à la hauteur de la zone de texte, ou 111% */
display: flex;
align-items: center;
letter-spacing: -0.9px;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 577.75px;
height: 56px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 577.75px;
height: 56px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* ou 156% */
display: flex;
align-items: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 7.99px;

width: 87.99px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;

width: 40px;
height: 40px;

background: #D5E3FF;
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 16px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #001E40;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 12px;

width: 40px;
height: 40px;

background: #001E40;
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 16px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #FFFFFF;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

width: 1216px;
height: 456px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Program 1 */

position: absolute;
height: 456px;
left: 0px;
right: 832px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 12px 32px rgba(0, 27, 60, 0.06);
border-radius: 8px;


/* Background */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 56px;
height: 56px;
left: 32px;
top: 32px;

background: #90CDFE;
border-radius: 12px;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 25px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 25px;

background: #1D638F;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 3 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 32px;
left: 32px;
right: 32px;
top: 112px;



/* Text */

width: 189.33px;
height: 32px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 72px;
left: 32px;
right: 32px;
top: 160px;



/* Text */

width: 284.3px;
height: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* List */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
height: 52px;
left: 32px;
right: 32px;
top: 264px;



/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 15px;

background: #001B3C;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 87.72px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;

color: #001B3C;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 15px;

background: #001B3C;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 141.22px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;

color: #001B3C;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 157.53px;
height: 24px;
left: 32px;
top: 364px;



/* Text */

width: 142.13px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #1D638F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 7.4px;
height: 12px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 7.4px;
height: 12px;

background: #1D638F;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Program 2 */

box-sizing: border-box;

position: absolute;
height: 456px;
left: 416px;
right: 416px;
top: 0px;

background: #FFFFFF;
border-top: 4px solid #1D638F;
box-shadow: 0px 12px 32px rgba(0, 27, 60, 0.06);
border-radius: 8px;


/* Background */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 56px;
height: 56px;
left: 32px;
top: 36px;

background: #90CDFE;
border-radius: 12px;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 27.5px;
height: 23.75px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 27.5px;
height: 23.75px;

background: #1D638F;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 3 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 64px;
left: 32px;
right: 32px;
top: 116px;



/* Text */

width: 201.81px;
height: 64px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* ou 133% */
display: flex;
align-items: center;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 72px;
left: 32px;
right: 32px;
top: 196px;



/* Text */

width: 305.39px;
height: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* List */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
height: 52px;
left: 32px;
right: 32px;
top: 300px;



/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 15px;

background: #001B3C;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 87.31px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;

color: #001B3C;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 15px;

background: #001B3C;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 99.97px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;

color: #001B3C;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 157.53px;
height: 24px;
left: 32px;
top: 400px;



/* Text */

width: 142.13px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #1D638F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 7.4px;
height: 12px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 7.4px;
height: 12px;

background: #1D638F;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Program 3 */

position: absolute;
height: 456px;
left: 832px;
right: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 12px 32px rgba(0, 27, 60, 0.06);
border-radius: 8px;


/* Background */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 56px;
height: 56px;
left: 32px;
top: 32px;

background: #90CDFE;
border-radius: 12px;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 25px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 25px;

background: #1D638F;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 3 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 64px;
left: 32px;
right: 32px;
top: 112px;



/* Text */

width: 225.91px;
height: 64px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* ou 133% */
display: flex;
align-items: center;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 72px;
left: 32px;
right: 32px;
top: 192px;



/* Text */

width: 298.22px;
height: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* List */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
height: 52px;
left: 32px;
right: 32px;
top: 296px;



/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 15px;

background: #001B3C;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 70.38px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;

color: #001B3C;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 20px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 15px;

background: #001B3C;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 121.45px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identique à la hauteur de la zone de texte, ou 143% */
display: flex;
align-items: center;

color: #001B3C;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: 157.53px;
height: 24px;
left: 32px;
top: 396px;



/* Text */

width: 142.13px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #1D638F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 7.4px;
height: 12px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 7.4px;
height: 12px;

background: #1D638F;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Trust Badges Section */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 64px 32px;

position: absolute;
height: 172px;
left: 0px;
right: 0px;
top: 2525.5px;

background: #001E40;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 96px;

width: 1216px;
max-width: 1280px;
height: 44px;

opacity: 0.8;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 112.44px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 32px;
height: 42px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 32px;
height: 42px;

background: #90CDFE;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 64.44px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 64.44px;
height: 16px;

opacity: 0.6;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 62.44px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 64.44px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 64.44px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 132.33px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 40px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 40px;
height: 40px;

background: #90CDFE;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 76.33px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 76.33px;
height: 16px;

opacity: 0.6;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 75.47px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 76.33px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 76.33px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 143.88px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 39px;
height: 32px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 39px;
height: 32px;

background: #90CDFE;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 88.88px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 88.88px;
height: 16px;

opacity: 0.6;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 45.61px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 88.88px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 88.88px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 174.55px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 48px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 48px;
height: 24px;

background: #90CDFE;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 110.55px;
height: 44px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 110.55px;
height: 16px;

opacity: 0.6;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 75.86px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 110.55px;
height: 24px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 110.55px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hero Section */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 128px 32px;

position: absolute;
height: 894px;
left: 0px;
right: 0px;
top: 96px;

background: #F9F9FF;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 49.32px;

width: 1216px;
max-width: 1280px;
height: 638px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 576px;
height: 638px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 6px 16px;

width: 214.97px;
height: 28px;

background: #90CDFE;
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 182.97px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* identique à la hauteur de la zone de texte, ou 133% */
display: flex;
align-items: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #035782;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 576px;
height: 288px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Propulsez votre Conformité au niveau supérieur. */

width: 576px;
height: 288px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 72px;
/* ou 100% */
display: flex;
align-items: center;
letter-spacing: -1.8px;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

width: 576px;
max-width: 576px;
height: 106px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Des programmes de formation certifiants conçus par des experts pour transformer vos obligations réglementaires en avantages stratégiques. */

width: 576px;
height: 98px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* ou 162% */
display: flex;
align-items: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 0px 0px;
gap: 16px;

width: 576px;
height: 144px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 40px;
isolation: isolate;

width: 288.59px;
height: 56px;

background: linear-gradient(100.98deg, #001E40 0%, #1D638F 100%);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button:shadow */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

width: 208.59px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 40px;

width: 271.53px;
height: 56px;

background: #DEE8FF;
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 191.53px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #1F477B;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 590.68px;
height: 605.36px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background+Blur */

position: absolute;
width: 256px;
height: 256px;
right: -40px;
top: -25.32px;

background: #8DFD52;
mix-blend-mode: multiply;
opacity: 0.3;
filter: blur(32px);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Background+Blur */

position: absolute;
width: 256px;
height: 256px;
left: -25.32px;
bottom: -25.32px;

background: #CBE6FF;
mix-blend-mode: multiply;
opacity: 0.3;
filter: blur(32px);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Overlay+Shadow */

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 576px;
height: 576px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
border-radius: 48px;
transform: rotate(3deg);

/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* AB6AXuBOxWw5PJ7ksO7_JBm6f0Tk-fKF6j7p-1GtcXQoAqNnU3lVQeyQYEfW6uUvKAUEtXVfbTkNAQJnstUbE-oAjFUnndDT8v9W9yXM3sya0_CkSOYsg7GYWeYfzih9RVzyKc-E8LPwY55F2aMXEkGk3XJcROPARpHgJByoVkedv9kulzJR1Ba8hqQw5ZEc-_3JErw2tF9VZeISLt2WGUMxlmEGAuYIkKZ_ONBGFLyXT8qDrWT8oZg1FmJZYo8EBpAdTtjwZHm9RgWGtmMF */

width: 576px;
height: 576px;

background: url(.png);
transform: rotate(3deg);

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Methodology Section */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 128px 32px;

position: absolute;
height: 712px;
left: 0px;
right: 0px;
top: 1813.5px;



/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 96px;

width: 1216px;
max-width: 1280px;
height: 456px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 1216px;
height: 148px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 2 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1216px;
height: 40px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 580.91px;
height: 40px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 40px;
/* identique à la hauteur de la zone de texte, ou 111% */
display: flex;
align-items: center;
text-align: center;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 96px;
height: 4px;

background: #1D638F;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 672px;
max-width: 672px;
height: 56px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 663.84px;
height: 56px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* ou 156% */
display: flex;
align-items: center;
text-align: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 1216px;
height: 212px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Horizontal Divider */

position: absolute;
left: 0px;
right: 0px;
top: 25%;
bottom: 74.06%;

background: #90CDFE;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Step 1 */

width: 405.33px;
height: 212px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
z-index: 1;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: absolute;
width: 80px;
height: 80px;
left: 162.66px;
top: 0px;



/* Overlay */

position: absolute;
left: -16px;
right: -16px;
top: -16px;
bottom: -16px;

background: rgba(0, 30, 64, 0.1);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Background+Border */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 80px;
height: 80px;

background: #001E40;
border: 8px solid #F9F9FF;
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Overlay+Shadow */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

width: 32.48px;
height: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
/* identique à la hauteur de la zone de texte, ou 120% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Heading 4 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
height: 28px;
left: 16px;
right: 16px;
top: 120px;



/* Text */

width: 104.59px;
height: 28px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 28px;
/* identique à la hauteur de la zone de texte, ou 140% */
display: flex;
align-items: center;
text-align: center;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
height: 48px;
left: 16px;
right: 16px;
top: 164px;



/* Text */

width: 341.61px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Step 2 */

width: 405.33px;
height: 212px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;
z-index: 2;


/* Background+Border */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

position: absolute;
width: 80px;
height: 80px;
left: 162.65px;
top: 0px;

background: #1D638F;
border: 8px solid #F9F9FF;
border-radius: 12px;


/* Overlay+Shadow */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

width: 38.48px;
height: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
/* identique à la hauteur de la zone de texte, ou 120% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Heading 4 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
height: 28px;
left: 16px;
right: 16px;
top: 120px;



/* Text */

width: 104.48px;
height: 28px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 28px;
/* identique à la hauteur de la zone de texte, ou 140% */
display: flex;
align-items: center;
text-align: center;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
height: 48px;
left: 16px;
right: 16px;
top: 164px;



/* Text */

width: 350.33px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Step 3 */

width: 405.33px;
height: 212px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 1;
z-index: 3;


/* Border */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

position: absolute;
width: 80px;
height: 80px;
left: 162.65px;
top: 0px;

border: 8px solid #F9F9FF;
border-radius: 12px;


/* Overlay+Shadow */

position: absolute;
width: 80px;
height: 80px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 8px 10px -6px rgba(0, 0, 0, 0.1);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Text */

width: 38.89px;
height: 36px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
/* identique à la hauteur de la zone de texte, ou 120% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Heading 4 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
height: 28px;
left: 16px;
right: 16px;
top: 120px;



/* Text */

width: 127.25px;
height: 28px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 28px;
/* identique à la hauteur de la zone de texte, ou 140% */
display: flex;
align-items: center;
text-align: center;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
height: 48px;
left: 16px;
right: 16px;
top: 164px;



/* Text */

width: 372.2px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #43474F;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* CTA Section */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 80px;
isolation: isolate;

position: absolute;
max-width: 1024px;
height: 404px;
left: 128px;
right: 128px;
top: 2797.5px;

background: linear-gradient(111.53deg, #001E40 0%, #1D638F 100%);
border-radius: 48px;


/* Overlay */

position: absolute;
width: 384px;
height: 384px;
right: -192px;
top: -192px;

background: rgba(255, 255, 255, 0.05);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

width: 864px;
height: 244px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Heading 2 */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 864px;
height: 48px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 859.78px;
height: 48px;

font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 48px;
/* identique à la hauteur de la zone de texte, ou 100% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -1.2px;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 672px;
max-width: 672px;
height: 56px;

opacity: 0.9;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 661.23px;
height: 56px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* ou 140% */
display: flex;
align-items: center;
text-align: center;

color: #CBE6FF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 16px 0px 0px;
gap: 16.01px;

width: 864px;
height: 76px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Mise en page automatique */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 40px;
gap: 12px;

width: 233.83px;
height: 60px;

background: #FFFFFF;
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 122.83px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #001E40;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Mise en page automatique */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 19px;
height: 16px;


/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 19px;
height: 16px;

background: #001E40;

/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Mise en page automatique */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 40px;

width: 232.3px;
height: 60px;

border: 2px solid rgba(255, 255, 255, 0.3);
border-radius: 12px;

/* À l'intérieur de l'auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 148.3px;
height: 24px;

font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identique à la hauteur de la zone de texte, ou 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* À l'intérieur de l'auto layout */
flex: none;
order: 0;
flex-grow: 0;
